:root {
  /* Semantic colors */
  --color-bg-canvas: #292724;
  --color-fg-primary: var(--color-white);
  --color-fg-secondary: var(--color-white-alpha-50);
  --color-fg-tertiary: var(--color-white-alpha-35);

  /* Node status colors */
  --outline-opacity-factor: 35%;

  --color-status-default: var(--color-white);
  --color-status-pinned: var(--color-cyan);
  --color-status-success: var(--color-green);
  --color-status-issues: var(--color-orange);
  --color-status-deactivated: var(--color-grey);

  --color-status-default-outline: var(--color-white-alpha-25);
  --color-status-pinned-outline: color-mix(
    in srgb,
    var(--color-status-pinned) var(--outline-opacity-factor),
    transparent
  );
  --color-status-success-outline: color-mix(
    in srgb,
    var(--color-status-success) var(--outline-opacity-factor),
    transparent
  );
  --color-status-issues-outline: color-mix(
    in srgb,
    var(--color-status-issues) var(--outline-opacity-factor),
    transparent
  );
  --color-status-deactivated-outline: var(--color-white-alpha-30);
}
