:root {
  /* Shadows */
  --shadow-sm: 2px 2px 4px 0 var(--color-black-alpha-20);
  --shadow-md: 4px 4px 8px 2px var(--color-black-alpha-20);
  --shadow-lg: 4px 4px 16px 4px var(--color-black-alpha-25);
  --shadow-xl: 8px 8px 24px 8px var(--color-black-alpha-35);
}
